.textarea{
    border-radius: 5px;
    background: #F9FAFB;
    border: 1px solid #DEDEE0;
    width: 377px;
    height: 183px;
    padding-left: 13px;
    margin-top:4px;

}

.label{
    width: 377px;
    margin-top:15px;
}