.sellBtn{
    text-transform: uppercase;
    background-color: #349A89;
    border-radius: 4px;
    color: #fff;
    width: 131px;
    height: 31px;
    font-size: 14px;
    line-height:31px;
    border:none;
    margin: 0 33px;
}