.userInfo{
    width: 204px;
    height: 109px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    right: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.userInfoTop{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 63px;
}

.userIcon{
    width: 48px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    //vertical-align: center;
    & p{
        color:  rgba(19, 15, 2, 0.72);
        line-height: 40px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0;
    }
}

.userInfo p{
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
}

.userName{
    color: #000;
}

.userEmail{
    color: #979797;
}

.profileLink{
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #349A89;
}
.userInfoBottom {
    border-top: 1px solid #E4E4E4;
    height: 46px;
}

.logoutBtn{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #349A89;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;

}