.container{
    max-width: 1136px;
    height: 874px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formTitle{
    font-size: 22px;
    line-height: 25px;
    color: #282828;
}